<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {{ block "title" . }} {{ .Title }} | Project Competentia {{ end }}
  </title>
  <link rel="stylesheet" href="/styles/fonts.css" />
  <link rel="stylesheet" href="/styles/base.css" />
</head>

<body>
  {{ partial "navigation.html" . }}


  <div class="header">{{ block "header" . }}<h1>{{ .Title }}</h1>{{end}}</div>

  <main>
    {{ block "content" . }} {{ end }}
  </main>

  {{ partial "toc" . }}

  <footer>
    <p>Project Competentia</p>
    <a href="https://github.com/Project-Competentia/Project-Competentia" target="_blank" rel="noreferrer">Github</a>
  </footer>
</body>

</html>