<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {{ block "title" . }} {{ .Title }} | Project Competentia {{ end }}
  </title>
  <meta name="description" content="{{.Page.Summary}}" />
  <link rel="preload" href="/fonts/Chivo/Chivo-Italic-VariableFont_wght.ttf" as="font" type="truetype">
  <link rel="stylesheet" href="/styles/fonts.css" />
  <link rel="stylesheet" href="/styles/base.css" />
</head>

<body>
  {{ partial "navigation.html" . }}


  <div class="header">{{ block "header" . }}<h1>{{ .Title }}</h1>{{end}}</div>

  <main>
    {{ block "content" . }} {{ end }}
  </main>

  {{ partial "toc" . }}

  <footer>
    <p>Project Competentia</p>
    <a href="https://github.com/Project-Competentia/Project-Competentia" target="_blank" rel="noreferrer">Github</a>
    <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License"
          style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br /><span
        xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Project Competentia</span> by <a
        xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/jak2k" property="cc:attributionName"
        rel="cc:attributionURL">Jak2k</a> is licensed under a <a rel="license"
        href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International
        License</a>.</p>

  </footer>
</body>

</html>