:root {
  --color-hue: 210;
  --background: hsl(var(--color-hue), 100%, 90%);
  --foreground: hsl(var(--color-hue), 100%, 3%);
  --primary: hsl(var(--color-hue), 100%, 25%);
  --secondary: hsl(var(--color-hue), 50%, 20%);
  --link: var(--primary);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: hsl(var(--color-hue), 100%, 10%);
    --foreground: hsl(var(--color-hue), 100%, 97%);
    --primary: hsl(var(--color-hue), 100%, 75%);
    --secondary: hsl(var(--color-hue), 50%, 80%);
  }
}

html,
body {
  height: 100%;
  margin: 1em;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "Nav Header Toc"
    "Nav Main Toc"
    "Footer Footer Footer";
}

@media screen and (max-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: 1em 1em;
    grid-template-areas:
      "Header"
      "Nav"
      "Toc"
      "Main"
      "Footer";
  }
}

main {
  grid-area: Main;
}

main p {
  margin: 1em;
  text-align: justify;
  font-size: 1.03em;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a::before {
  content: "🔗";
}

a:hover::before {
  content: "👉";
}

nav {
  grid-area: Nav;
  padding: 1em;
  margin-left: auto;

  border-radius: 1em;
  background-color: var(--secondary);
  color: var(--background);
  --link: var(--background);
  height: max-content;
}

nav ul {
  list-style-type: none;
}

nav li {
  list-style-type: none;
  margin-top: 0.5em;
}

@media screen and (max-width: 800px) {
  nav {
    margin-left: 0;
  }
}

.header {
  grid-area: Header;
  background-color: var(--primary);
  color: var(--background);
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chivo", sans-serif;
}

.header a {
  color: var(--background);
  text-decoration: underline;
}

footer {
  grid-area: Footer;
  padding: 0.5em;
  border-radius: 1em 1em 0em 0em;
  background-color: var(--secondary);
  color: var(--background);
  --link: var(--background);
}

/* summary must be like h2 */
summary {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Chivo", sans-serif;
}

#TableOfContents {
  grid-area: Toc;
  padding: 1em;
  margin-right: auto;
  border-radius: 1em;
  background-color: var(--secondary);
  color: var(--background);
  --link: var(--background);
  height: max-content;
}

@media screen and (max-width: 800px) {
  #TableOfContents {
    margin-right: 0;
  }
}
